{% load staticfiles %}
<div class="about_us_section px-5 pt-5">
    <div class="row py-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="font-weight-bold font-italic pl-4">About us</h6>
            <h1>Hamro Aama <br> Samuha</h1>
            <p>‘Hamro Aama Samuha’ is distinctively a nonprofit service providing organization.
                We provide food, shelter, education, health care and other different basic
                aspects of life for these needy people.
            </p>
            <a href="{% url 'core:about-us' %}">
                <button class="btn px-4  py-4 px-5 mt-2 font-weight-bold">About us</button>
            </a>
        </div>
        <div class="card_section col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card about_card my-4">
                        <img src="{% static 'img/Rescue.png' %}" class="card-img-top fluid" alt="Icon">
                        <div class="card-body">
                            <h4 class="text-center font-weight-bold">Rescue</h4>
                        </div>
                    </div>
                    <div class="card about_card my-4">
                        <img src="{% static 'img/employement.png' %}" class="card-img-top fluid" alt="Icon">
                        <div class="card-body">
                            <h4 class="text-center font-weight-bold">Relief</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card about_card my-4">
                        <img src="{% static 'img/training.png' %}" class="card-img-top fluid" alt="Icon">
                        <div class="card-body">
                            <h4 class="text-center font-weight-bold">Training</h4>
                        </div>
                    </div>
                    <div class="card about_card my-4">
                        <img src="{% static 'img/going up-bro.png' %}" class="card-img-top fluid" alt="Icon">
                        <div class="card-body">
                            <h4 class="text-center font-weight-bold">Health campaign</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>