{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

    <!-- Donate section -->
    {% block carasoul %}{% include 'carasoul.html' %}{% endblock %}
    <!-- Donate ection end -->
    
    <!-- Donate section -->
    {% block donateSection %}{% include 'donateSection.html' %}{% endblock %}
    <!-- Donate ection end -->

    <!-- About us section -->
    {% block aboutusSection %}{% include 'aboutusSection.html' %}{% endblock %}
    <!-- About us section end-->

    <!-- Ourgallery section -->
    {% block gallerySection %}{% include 'gallerySection.html' %}{% endblock %}
    <!-- Ourgallery section end -->

    <!-- our cause section -->
    {% block causeSection %}{% include 'causeSection.html' %}{% endblock %}
    <!-- our cause section end-->

    <!-- Paralex section -->
    {% block paralexSection %}{% include 'paralexSection.html' %}{% endblock %}
    <!-- Paralex section end-->

    <!-- Our activities -->
    {% block activitiesSection %}{% include 'activitiesSection.html' %}{% endblock %}
    <!-- Our activities end-->

    <!-- Our program section -->
    {% block programSection %}{% include 'programSection.html' %}{% endblock %}
    <!-- Our program section end -->

    <!-- Contribute section -->
    {% block contributeSection %}{% include 'contributeSection.html' %}{% endblock %}
    <!-- Contribute section end-->

    <!-- Contribute section -->
    {% block donarSection %}{% include 'donarSection.html' %}{% endblock %}
    <!-- Contribute section end-->
{% endblock %}